[Desktop Entry]
Type=Application
Name=Mapia
Comment=Yes another REST API client for desktop
Exec=/usr/bin/mapia
Icon=/usr/share/icons/hicolor/512x512/apps/mapia.png
Categories=Utility;Network;Development
Terminal=false
StartupNotify=true
