[Desktop Entry]
Type=Application
Name=Mapia
Comment=A beautiful REST API client for desktop.
Exec=mapia
Icon=mapia
Terminal=false
Categories=Utility;Network;Development;
